@font-face {
    font-family: 'myhotabold';
    src: url('../fonts/myhota_bold-webfont.eot');
    src: url('../fonts/myhota_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myhota_bold-webfont.woff') format('woff'),
        url('../fonts/myhota_bold-webfont.ttf') format('truetype'),
        url('../fonts/myhota_bold-webfont.svg#myhotabold') format('svg');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Myhota';
    /*src: url(../fonts/myhota-plain.otf) format("truetype");*/

    src: url('../fonts/myhota-plain.eot');
    src: url('../fonts/myhota-plain.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myhota-plain.woff') format('woff'),
        url('../fonts/myhota-plain.ttf') format('truetype'),
        url('../fonts/myhota-plain.svg#myhotaplain') format('svg');
    font-weight: bold;
}

.tabs {
    position: relative;
    margin: 40px auto;
    width:800px;
}

.tabs input {
    position: absolute;
    z-index: 1000;
    width: 120px;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    cursor: pointer;
}
.tabs input#tab-2{
    left: 170px;
}
.tabs input#tab-3{
    left: 340px;
}
.tabs input#tab-4{
    left: 510px;
}
.tabs input#tab-5{
    left: 680px;
}

.tabs label {
    background: #fff;
    font-family:'myhotabold';
    font-weight:bold;
    /*
            background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba4a4), color-stop(100%,#4e8c8a));
            background: -webkit-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
            background: -o-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
            background: -ms-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
            background: linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
    */
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    position: relative;
    padding: 0 25px;
    float: left;
    display: block;
    width: 120px;
    color: #8eadc9;
    top: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

.tabs label:after {
    content: '';
    background: #fff;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 8px;
    display: block;
}

.tabs input:hover + label {
    background: #DDDDDD;
    top: -8px;
    -webkit-transition: top linear 0.2s;
    -moz-transition: top linear 0.2s;
    -o-transition: top linear 0.2s;
    -ms-transition: top linear 0.2s;
    transition: top linear 0.2s;
}
.tabs input:hover + label:after{
    background: #DDDDDD;
}
.tabs input:hover + label ~ .clear-shadow {
    top: -8px;
    -webkit-transition: top linear 0.2s;
    -moz-transition: top linear 0.2s;
    -o-transition: top linear 0.2s;
    -ms-transition: top linear 0.2s;
    transition: top linear 0.2s;
}

.tabs input:checked:hover + label {
    top: 0;
}
.tabs input:checked:hover + label:after{
    background: #fff;
}
.tabs input:checked:hover + label ~ .clear-shadow {
    top: 0;
    background: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.tabs input.tab-selector-1:hover + label.tab-label-1 ~ .clear-shadow{
    z-index: 4;
}

.tabs input.tab-selector-2:hover + label.tab-label-2 ~ .clear-shadow {
    z-index: 3;
}

.tabs input.tab-selector-3:hover + label.tab-label-3 ~ .clear-shadow {
    z-index: 2;
}

.tabs input.tab-selector-4:hover + label.tab-label-4 ~ .clear-shadow {
    z-index: 1;
}

.tabs input.tab-selector-5:hover + label.tab-label-5 ~ .clear-shadow {
    z-index: 0;
}
.tabs label:first-of-type {
    z-index: 5;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.tab-label-2 {
    z-index: 4;
}

.tab-label-3 {
    z-index: 3;
}

.tab-label-4 {
    z-index: 2;
}

.tab-label-5 {
    z-index: 1;
}

.tabs input:checked + label {
    background: #fff;
    border-top: 2px solid #01498c;
    color:#01498c;
    box-shadow:inset -7px -14px 0 -7px #01498C;
    -webkit-transition: top linear 0.2s;
    -moz-transition: top linear 0.2s;
    -o-transition: top linear 0.2s;
    -ms-transition: top linear 0.2s;
    transition: top linear 0.2s;
}

.clear-shadow {
    background: #01498c;
    position: relative;
    top: 0;
    height: 10px;
    margin-bottom: -10px;
    clear: both;
    z-index: -2;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.content {
    background: #fff;
    position: relative;
    width: 100%;
    height: 570px;
    z-index: 5;
    overflow: hidden;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}

.content div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 100%;
    padding: 10px 40px;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4,
.tabs input.tab-selector-5:checked ~ .content .content-5 {
    bottom: 0px;
    z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.2s;
    -moz-transition: all ease-out 0.2s 0.2s;
    -o-transition: all ease-out 0.2s 0.2s;
    -ms-transition: all ease-out 0.2s 0.2s;
    transition: all ease-out 0.2s 0.2s;
}

.content div h2,
.content div h3{
    font-family:'myhotabold';
    font-weight:bold;
    color: #01498c;
}

/*******************************************************************************************/
/**************Tab Contains*********/
/*******************************************************************************************/

.content > .content-1{
    display: inline;
    overflow: auto;
}
.content a{
    display: inline;
    float: left;
    width:140px;
    height:140px;
    text-decoration: none;
    outline: none;
    color:  #024f90;
    font-weight:bold;
    padding:0;
    margin:10px 20px 20px 20px;
}
.content img{
    width:80px;
    height:80px;
    margin-left: 30px;
    margin-right: 30px;
}
.content img:hover{
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
}

.content h4{
    margin:0;
    padding:0;
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;
}
.content p {
    font-family:'myhotabold';
    font-size: 14px;
    line-height: 22px;
    margin: 0 auto;
    color: #fff;
    text-align:center;
    background-color: #024f90;
    font-family: Cambria, Georgia, serif;
}