@import url(http://fonts.googleapis.com/css?family=Lobster);



@font-face {
    font-family: 'MyhotaBold2';
    src: url('../fonts/myhota-bold-webfont.eot');
    src: url('../fonts/myhota-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myhota-bold-webfont.woff') format('woff'),
        url('../fonts/myhota-bold-webfont.ttf') format('truetype'),
        url('../fonts/myhota-bold-webfont.svg#myhotabold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Myhota';
    /*src: url(../fonts/myhota-plain.otf) format("truetype");*/

    src: url('../fonts/myhota-plain.eot');
    src: url('../fonts/myhota-plain.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myhota-plain.woff') format('woff'),
        url('../fonts/myhota-plain.ttf') format('truetype'),
        url('../fonts/myhota-plain.svg#myhotaplain') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'franklin_gothic_medium_condRg';
    src: url('../fonts/franklingothic/framdcn.eot');
    src: url('../fonts/franklingothic/framdcn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/franklingothic/framdcn.woff') format('woff'),
        url('../fonts/franklingothic/framdcn.ttf') format('truetype'),
        url('../fonts/franklingothic/framdcn.svg#franklin_gothic_medium_condRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'franklin_gothic_demi_condRg';
    src: url('../fonts/franklingothic/fradmcn.eot');
    src: url('../fonts/franklingothic/fradmcn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/franklingothic/fradmcn.woff') format('woff'),
        url('../fonts/franklingothic/fradmcn.ttf') format('truetype'),
        url('../fonts/franklingothic/fradmcn.svg#franklin_gothic_demi_condRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'franklin_gothic_demiregular';
    src: url('../fonts/franklingothic/fradm.eot');
    src: url('../fonts/franklingothic/fradm.eot?#iefix') format('embedded-opentype'),
        url('../fonts/franklingothic/fradm.woff') format('woff'),
        url('../fonts/franklingothic/fradm.ttf') format('truetype'),
        url('../fonts/franklingothic/fradm.svg#franklin_gothic_demiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'franklin_gothic_mediumregular';
    src: url('../fonts/franklingothic/framd_0.eot');
    src: url('../fonts/franklingothic/framd_0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/franklingothic/framd_0.woff') format('woff'),
        url('../fonts/franklingothic/framd_0.ttf') format('truetype'),
        url('../fonts/franklingothic/framd_0.svg#franklin_gothic_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'camboregular';
    src: url('../fonts/cambo/cambo-regular.eot');
    src: url('../fonts/cambo/cambo-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cambo/cambo-regular.woff') format('woff'),
        url('../fonts/cambo/cambo-regular.ttf') format('truetype'),
        url('../fonts/cambo/cambo-regular.svg#camboregular') format('svg');
    font-weight: normal;
    font-style: normal;
}