.rw-words{
    display: inline;
}
.rw-words-1 div{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #6b969d;
    -webkit-animation: rotateWord 60s linear infinite 0s;
    -moz-animation: rotateWord 60s linear infinite 0s;
    -o-animation: rotateWord 60s linear infinite 0s;
    -ms-animation: rotateWord 60s linear infinite 0s;
    animation: rotateWord 60s linear infinite 0s;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.rw-words-1 div:nth-child(2) {
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
    color: #6b889d;
}
.rw-words-1 div:nth-child(3) {
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s;
    color: #6b739d;
}
.rw-words-1 div:nth-child(4) {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
    color: #7a6b9d;
}
.rw-words-1 div:nth-child(5) {
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    -o-animation-delay: 40s;
    -ms-animation-delay: 40s;
    animation-delay: 40s;
    color: #8d6b9d;
}
.rw-words-1 div:nth-child(6) {
    -webkit-animation-delay: 50s;
    -moz-animation-delay: 50s;
    -o-animation-delay: 50s;
    -ms-animation-delay: 50s;
    animation-delay: 50s;
    color: #9b6b9d;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateX(50px); }
    5% { opacity: 1; -webkit-transform: translateX(0px);}
    17% { opacity: 1; -webkit-transform: translateX(0px); }
    20% { opacity: 0; -webkit-transform: translateX(-40px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -moz-transform: translateX(60px); }
    5% { opacity: 1; -moz-transform: translateX(0px);}
    17% { opacity: 1; -moz-transform: translateX(0px); }
    20% { opacity: 0; -moz-transform: translateX(-40px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -o-transform: translateX(60px); }
    5% { opacity: 1; -o-transform: translateX(0px);}
    17% { opacity: 1; -o-transform: translateX(0px); }
    20% { opacity: 0; -o-transform: translateX(-40px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateX(60px); }
    5% { opacity: 1; -ms-transform: translateX(0px);}
    17% { opacity: 1; -ms-transform: translateX(0px); }
    20% { opacity: 0; -ms-transform: translateX(-40px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateX(100px); }
    5% { opacity: 1; transform: translateX(0px);}
    17% { opacity: 1; transform: translateX(0px); }
    20% { opacity: 0; transform: translateX(-100px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
    .rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
    .rw-sentence { font-size: 9px; }
}