/**********************************************************************************

Theme Name: nojili-beta
Theme URI:
Description: A clean portfolio WordPress theme for Nojili.
Version: 1.0
Author:	Inline Designs
Author URI: http://www.inline.lk
License:
License URI:
Tags:

**********************************************************************************/

/***********************************************************************************************/
/******************** HOME PAGE ****************************************************************/
/***********************************************************************************************/
/***********************************************************************************************/
/* BODY - HEADER */
/***********************************************************************************************/


body, html {
    padding: 0;
    margin:0;
    border:0;
    font-family: Myhota, Georgia, serif;
    background: #f7f7f7;
    box-shadow: 0 0 10px;
}
html {
    background: #033371;
    background-image: url(../images/html-bg.png);
    background-size: cover;

}

body {
    width: 80%;
    background-color: #f7f7f7;
    margin: 0 auto;
    padding: 0;
    background-image: url(../images/background.png);
    /* border-left:10px solid #033371;*/
}

a {
    text-decoration: none;
    outline: none;
}

img{
    border:none;
}

.setBorder {
    border: 1px solid black;
}

.products {
    width: 10%;
    float: left;
    margin: 10px;
}
p,h1,h2,h3,li{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
/* ************* header ************* */

#header {
    width:100%;
    height:50px;
    overflow: hidden;
    line-height: 0px;
    margin:0 auto;
    margin-bottom:10px;
}

#header ul{
    display: block;
    position: relative;
    width:40%;
    height:40px;
    list-style: none;
    margin: 0 auto;
    padding:0;
    text-align: center;
    vertical-align: middle;
    margin-top:5px;
}

#header ul li a{
    display: inline-block;
    font-family: MyhotaBold, MyhotaBold2, Myhota;
    text-decoration: none;
    color: #0a74d6;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#header ul li {
    display: inline;
    float:left;
    line-height: 30px;
    width:20%;
    /*    margin-left: 22px;
    margin-right:22px;*/
    vertical-align: middle;
}

#header ul li:nth-child(2){
    margin-left: 20%;
    margin-right:20%;
}

#header ul li a:hover {
    color:#000;
    /*
    text-shadow: -1px 1px 5px #03c, 1px -1px 5px #03c;
    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
    */
}
#selectionBox {
    position: relative;
    float:left;
    width:100%;
    height: auto;
    margin: 0 auto;
}
#logo-center{
    position: relative;
    width:100%;
    height: 160px; /****logo***/
    margin: 0 auto;
}
#logo-center a{
    text-decoration: none;
    outline: none;
}
#logo{
    position: absolute;
    width:180px;/****logo***/
    height: 180px;   /****logo***/
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center middle;
    margin-top: -20px;
    z-index: 2;
    left: 50%;
    right: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%) ;
}

#gemSelect,#jewellerySelect{
    width:44%;
    height: 300px;
    position: relative;
    overflow: visible;
    cursor: pointer;
}



#gemSelect {
    float: left;
    background-image: url(../images/gem-headder.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
}

#gemSelect img{
    width:100%;
    z-index: 1;
    float: left;
    border:none;
}

#jewellerySelect {
    float: right;
    background-image: url(../images/jewellery-hedader.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}

#jewellerySelect img{
    width:100%;
    z-index: 1;
    float: right;
    border:none;
}
#gemSelect:hover img,
#jewellerySelect:hover img{
opacity:0.9;
}

#gemSelect > p, #jewellerySelect > p {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    width:100%;
    margin:0;
    padding:0;
    font-size: 3.5em;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
    text-shadow: 1px 1px 11px rgba(0, 0, 0, 1);
}

#testimonal{
    display: block;
    position: relative;
    float: left;
    width:80%;
    height:50px;
    left: 50%;
    right: 50%;
    margin:0 auto;
    margin-top:-100px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%) ;
    vertical-align: top;
}

/*
#testimonal > div{
position: absolute;
width: 100%;
height:50px;
border: 1px solid blue;
margin: 0 auto;
}
*/

#testimonal div > p{
    vertical-align: top;
    font-weight: bold;
    font-size:1.5em;
    color:#000;
}

#testimonal div > p > span{
    font-size:0.7em;
    display: block;
    /*float:right;*/
    margin-top: 5px;
    padding-left:25%;
}

.clear
{
    clear: both;
    margin:0px;
    padding:0px;
}

.divider-holder{
    position: relative;
    float: left;
    width:100%;
    margin:0 auto;
    margin-top:20px;
}
.margin-top-20{
    margin-bottom:20px;
}

.divider{
    width:60%;
    height: 2px;
    margin:0 auto;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(57,142,221,0.90), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(57,142,221,0.90), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(57,142,221,0.90), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(57,142,221,0.90), rgba(0,0,0,0));
}
/************** end of header ************* */
/******************productSlider***********/
#home-main-content-body{
    position: relative;
    float: left;
    width:100%;
    height:1310px;
}
#content-slide-away{
    position: absolute;
    width:100%;
    height:1410px;
}

#product-slider{
    position: relative;
    float: left;
    margin-top:20px;
    width:100%;
    height:400px;
    /*
    background-color: #FFF;
    */
    /*
    border-top:4px solid #0a74d6;
    border-bottom:4px solid #0a74d6;
    */
}

#gems-container{
    display: none;
    position: absolute;
    width:100%;
    height:800px;
    overflow: auto;
}

#jewellery-container{
    display: none;
    position: absolute;
    width:100%;
    height:800px;
    overflow: auto;
}
#gems-container > h1,
#jewellery-container > h1{
width:100%;
text-align: center;
text-transform: uppercase;
font-size: 2em;
font-family:MyhotaBold2, Myhota;
color:#01498c;
}

/********************* horoscope *********************/
#horoscope{
    position: relative;
    float: left;
    width:100%;
    height:420px;
    background-image: url(../images/horoscope.png);
    background-position: middle center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

#horoscope-text {
    margin-top:10%;
    vertical-align: middle;
    width:60%;
    float: right;
}

#horoscope-text div:first-child{
    width: 460px;
    float:  right;
}

#horoscope-text p:first-child{
    color: #fff;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

#horoscope-text p:first-child span, .uppercase{
    text-transform: uppercase;
}

#horoscope-text p:nth-child(2){
    color: #fff;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}
/*
#dob{
float:  right;
width: 360px;
height: 100px;
color:#fff;
}

#dob input {
margin: 0 auto;
width: 22px;
height: 30px;
font-size: 25px;
display: inline;
padding: 5px;
border: inset 1px #CCC;
background: #FFF;
border-radius: 5px;
color: #666;
appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type='number'] {
-moz-appearance:textfield;
}

#dob span {
font-size: 30px;
font-weight: bold;
}
*/
#sign-up-jewel{
    display: block;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    color: #666666;
    background-color: #0ad674;
    font-family: MyhotaBold, MyhotaBold2, Myhota;
    border-radius: 3px;
    border: none;
    font-size: 23px;
    font-weight: bold;
    outline: none;
    text-align: center;
    cursor: pointer;
}

#sign-up-jewel:hover{
    background-color: #09bb65;
}

#sign-up-jewel:active{
    background-color: #0ad674;
}

@media only screen and (max-width: 760px) {
    #horoscope-text div:first-child{
        width: 260px;
        float:  right;
    }
    #horoscope-text p:first-child{
        font-size: 1em;
    }

    #horoscope-text p:nth-child(2){
        font-size: 0.7em;
    }

    #sign-up-jewel{
        width: 75px;
        height: 25px;
        font-size: 18px;
    }

    #sign-up-jewel:hover{
        background-color: #09bb65;
    }

    #sign-up-jewel:active{
        background-color: #0ad674;
    }

    /*End @media only screen and (max-width: 767px)*/
}
@media only screen and (max-width: 550px){
    #horoscope-text {
        width:100%;
        background-color: #033673;
        background: -moz-linear-gradient(left,  #033c85 0%, #033673 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#033c85), color-stop(100%,#033673));
        background: -webkit-linear-gradient(left,  #033c85 0%,#033673 100%);
        background: -o-linear-gradient(left,  #033c85 0%,#033673 100%);
        background: -ms-linear-gradient(left,  #033c85 0%,#033673 100%);
        background: linear-gradient(to right,  #033c85 0%,#033673 100%);
    }
}

/*********************latest-news***************/

#latest-news{
    position: relative;
    float: left;
    width:100%;
    /*    height:600px;/**/
}
#latest-news > header {
    position: relative;
    float: left;
}

#latest-news > header >h1{
    color:#fff;
    font-size: 1.5em;
}
#latest-news > div{
    position: relative;
    float: left;
    width:100%;
    margin-top:30px;
}

#latest-news > div > #latest-news-container{
    width:95%;
    margin:0 auto;
    height:auto;
    font-family: franklin_gothic_medium_condRg;
}
#latest-news-container article{
    height:80px;
    margin-bottom:30px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 #BBBBBB;
}
#latest-news-container article *{
    margin:0;
    padding:0;
}



#latest-news-container article .latest-post-date,
#latest-news-container article img,
#latest-news-container article > div,
#latest-news-container article > p{
    display:inline-block;
    float:left;
}

#latest-news-container article img{
    width:100px;
    height:80px;
    border-right:5px solid #01498c;
    margin:0;
    padding:0;
}

#latest-news-container article .latest-post-date{
    height:80px;
    width:80px;
    padding:5px;
    background-color:#01498c;
    box-sizing: border-box;
}

#latest-news-container article .latest-post-date *{
    width: 100%;
    text-align: center;
    color:#fff;
}

#latest-news-container article .latest-post-date .date{
    font-size: 160%;
}

#latest-news-container article > div{
    padding: 10px;
}

#latest-news-container article > div h2{
    color:#01498c;
    margin-bottom:5px;
}

/*********************latest-news END***************/

/*********************footer*******************/
#footer{
    position: relative;
    width:100%;
    height:457px;
    line-height: 0px;
    background-image: url(../images/footer.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0 auto;
    border-top:1px solid transparent;
}

#footer-nav{
    margin-top:250px;
    /*  position: relative;*/
}

#footer-nav ul{
    display: block;
    position: relative;
    width:40%;
    height:40px;
    list-style: none;
    margin: 0 auto;
    padding:0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

#footer-nav ul li a{
    display: inline-block;
    font-family: MyhotaBold, MyhotaBold2, Myhota;
    text-decoration: none;
    color: #0a74d6;
    font-size: 0.6em;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
}

#footer-nav ul li {
    display: inline;
    float:left;
    font-size: 30px;
    line-height: 30px;
    width:20%;
    /*    margin-left: 22px;
    margin-right:22px;*/
    vertical-align: middle;
    overflow: hidden;
}
#footer-nav ul li:nth-child(2){
    margin-left: 20%;
    margin-right:20%;
}

#footer-nav ul li a:hover {
    color:#fff;
}

.divider-holder2{
    position: relative;
    float: left;
    width:100%;
    margin:0 auto;
    overflow: hidden;
}

.divider2{
    width:600px;
    height: 2px;
    margin:0 auto;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(57,142,221,0.90), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(57,142,221,0.90), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(57,142,221,0.90), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(57,142,221,0.90), rgba(0,0,0,0));
}

#footer_socialmedia{
    width:50%;
    height:100px;
    margin:0 auto;
    margin-top:20px;
}

#social_media{
    width:50%;
    float:left;
    vertical-align: middle;
    box-sizing: border-box;
    padding-top:10px;
}

#social_media p{
    float:right;
    vertical-align: middle;
    color: #fff;
    font-size: 1em;
    padding-right:20px;
    letter-spacing:1.5px;
}

#social_media img{
    display: inline;
    width:30px;
    margin-top:15px;
}
#social_media img:hover{
  opacity: 0.6;
}

#newsletter{
    position: relative;
    width:47%;
    height:80%;
    float:left;
    padding-left:5%;
    vertical-align: middle;
    border-left: 2px solid #fff;
    vertical-align: middle;
    color: #fff;
    font-size: 1em;
    letter-spacing:1.5px;
        padding-top:10px;
    box-sizing: border-box;
}


#newsletter input{
    width:150px;
    height:25px;
    border-radius: 5px;
    box-shadow:none;
    -webkit-box-shadow: none;
    border: none;
    text-align: center;
}

@media only screen and (max-width: 450px){
    #footer_socialmedia{
        width:100%;
        position: relative;
        float: left;
        padding-left:10%;
    }

    #social_media{
        width:100%;
        float:left;
    }

    #social_media p{
        float:left;
    }

    #newsletter{
        padding-left:0;
        position: relative;
        width:100%;
        float:left;
        border-left: none;
    }

}

#maximage{
    position: relative;
    width:100%;
    height:457px;
    border: 1px solid red;
    margin:0 auto;
}


/***********************************************************************************************/
/******************** SINGLE PAGE ****************************************************************/
/***********************************************************************************************/
/***********************************************************************************************/
/*
/***********************************************************************************************/
#single-page-product{
    margin-top:30px;
    position: relative;
    width:100%;
    height: auto;
}

#selected-product{
    position: relative;
    width:80%;
    height: 400px;
    margin:0 auto;
}

#product-image{
    position: relative;
    /*width:170px;*/
    width:33%;
    height: 400px;
    float: left;
    margin: 0 auto;
}

#product-image div#set-image{
    width:170px;
    height: 170px;
    margin: auto;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    box-shadow: 0 0 17px 0 #808080;
    display: table;
}

#product-image div#set-image img{
    width:170px;
    height: 170px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#product-image div#no-image{
    width:170px;
    height: 170px;
    margin: auto;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    box-shadow: 0 0 17px 0 #808080;
    display: table;
}

#product-image div p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#set-product-details{
    padding: 0;
    padding-left: 5%;
    position: relative;
    width:60%;
    float: left;
    height: 100%;
    margin: auto 0;
}

@media only screen and (max-width: 850px) {
    #selected-product{
        width:100%;
    }
}

@media only screen and (max-width: 700px) {
    .clearboth{
        clear: both;
    }
    #product-image{
        width:100%;
    }
    #set-product-details{
        width:100%;
        box-sizing:border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    #product_price p:last-child{
        display: block;
        margin-top:10px;
    }
}

#product-details{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    height:300px;
    width:100%;
    padding-left:10%;
    padding-right:1%;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#product-details h1{
    color:#024f90;
    font-size: 2.1em;
    font-weight:bold;
    font-family: MyhotaBold, MyhotaBold2, Myhota, Arial, Helvetica, sans-serif;
    margin:0;
}

#product-details p{
    color:#7f7f7f;
    font-size: 1em;
    font-weight:bold;
    font-family: MyhotaBold, MyhotaBold2, Myhota, Arial, Helvetica, sans-serif;
    margin:0;
}

#product-details div:first-of-type {
    margin-top:5px;
    margin-bottom: 5px;
}

#product-details div:first-of-type p{
    font-size: 1.3em;
    display: inline;
}

p#product_description{
    margin-bottom:15px;
}

#product_price{
    position: relative;
    float: left;
    margin-top:5px;
}

#product_price p{
    font-size: 2em;
    display: inline;
    margin: 0 auto;
    padding:6px 50px;
    color:#fff;
    box-shadow:0 0 10px #808080;
    cursor: pointer;
    text-align:center;

    width:100%;
    /*box-shadow: 0 -1px 5px 1px #808080;*/
}

#product_price p:last-child{
    background-color: #3892dd;
    border-bottom-right-radius:  6px;
    border-top-right-radius: 6px;
    display: none;
}

#product_price p:first-child{
/*    background-color: #024f90;*/
background-color: #3892dd;


    margin-right:1px;
}

p#product_serial_number{
    margin-top:20px;
}

.singlepagelayer{
    position: absolute;
    width:100%;
    z-index: 1;
    background-image:url(../images/singlepage_layerstyle.png);
    margin-top:-100px;
    height:205px;
    background-size: cover;
}

#horoscope2{
    width:100%;
    z-index: 2;
    position: relative;
    height:129px;
    /*  background-color:*/
    background-image: url(../images/horoscope2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

div#horoscope2-text, div#horoscope2-setdob{
    display: inline-block;
    width:49.5%;
    height:100%;
    position: relative;
    float: left;
}

div#horoscope2-setdob{
    padding:3%;
    float: right;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div#horoscope2-text{
    padding:2%;
    vertical-align: middle;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div#horoscope2-text p{
    margin: 0;
    padding:0;
    text-align: center;
    color:#3892dd;
    font-size:1.5em;
}

div#horoscope2-text p > span:first-child{
    color:#FFF;
}

div#more-suggestions{
    padding-top:40px;
    width: 100%;
    height:300px;
    position: relative;
    margin:0 auto;
}

div#more-suggestions h1{
    color:#024f90;
    margin:0 auto;
    padding:0;
    text-align: center;
    font-size:1.7em;
    width:38%;
}

#more-suggestions-title{
    position: relative;
    width:80%;
    margin:0 auto;
}

#hr-left, #more-suggestions-title h1, #hr-right{
    display: inline-block;
}

#hr-left,#hr-right{
    width:30%;
    height:25px;
}

#hr-left{
    background-image: url(../images/hoz-line.png);
    background-repeat: no-repeat;
}

#hr-right{
    background-image: url(../images/hoz-line.png);
    background-repeat: no-repeat;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
}

#more-suggestions-grid{
    position: relative;
    width: 100%;
    height:227px;
    margin:0 auto;
    border: 1px solid transparent;
}


/********************************** News Page ******************************/


#news-page{
    position: relative;
    width:100%;
    height: auto;
    overflow: auto;
    font-family: franklin_gothic_medium_condRg;
}

#news-page > header{
    position: relative;
    margin:0 auto;
    width:250px;
    height:70px;
    margin-bottom:50px;
    background-color: #0a74d6;
    border-radius: 5px;
    box-shadow:1px 1px 1px 1px #000000;
}

#news-page > header > h1{
    vertical-align:top;
    position:relative;
    text-align: center;
    vertical-align: middle;
    padding:0;
    margin:0 auto;
    margin-top: 6%;
    width:60%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2.4px;
    word-spacing: 8px;
    line-height: 70px;
}

#news-page > article{
    /*    position: relative;*/

    margin:0 auto;
    padding-bottom:20px;
    border-bottom:2px solid #CCCCCC;
}

#news-page article{
    height:100px;
    margin-bottom:30px;
    margin-left:50px;
    margin-right:50px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 #BBBBBB;
    box-sizing: border-box;
}

#news-page article *{
    margin:0;
    padding:0;
}



#news-page article .latest-post-date,
#news-page article img,
#news-page article > div,
#news-page article > p{
    display:inline-block;
    float:left;
}

#news-page article img{
    width:120px;
    height:100px;
    border-right:5px solid #0a74d6;
    margin:0;
    padding:0;
}

#news-page article .post-date{
    height:100px;
    width:80px;
    padding:15px;
    background-color:#0a74d6;
    box-sizing: border-box;
}

#news-page article .post-date *{
    width: 100%;
    text-align: center;
    color:#fff;
}

#news-page article .post-date .date{
    font-size: 200%;
}

#news-page article > div{
    padding: 10px;
}

#news-page article > div h2{
    color:#0a74d6;
    margin-bottom:10px;
}
#news-page article > div p{
    font-size:1em;
}

/*
#news-page > article > h2{
margin-top:50px;
color:red;
width:100%;
text-align: center;
font-weight: bold;
}

#news-page > article > img{
width:200px;
height:200px;
display: inline;
float: left;
margin:0;
padding:0;
float:left;
margin-right:10px;
margin-bottom:2px;
box-shadow: 0 0 7px 2px #D4D0C8;
}
*/
a.read-more, a.read-more:active{
    display: inline-block;
    color:red;
}
#news-page .news-nav{
    position: relative;
    display: block;
    padding:0;
    list-style: none;
    width:80%;
    margin:0 auto;
    margin-top:10px;
}
#news-page .news-nav li{
    display: inline;
    list-style: none;
}
#news-page .news-nav li:first-child{
    float: left;
}
#news-page .news-nav li:last-child{
    float: right;
}
#news-page .news-nav li a{
    color: red;
    font-size:1em;
}

/************** news single page *******************/

#single-page-news{
    position: relative;
    width: 100%
}
#single-page-news > div{
    width: 80%;
    margin:0 auto;
    padding:0;
}
#single-page-news > div:first-child{
    margin-top: 100px;
}
#single-page-news > div:first-child h1{
    width:100%;
    text-align: center;
    font-family:MyhotaBold, MyhotaBold2, Myhota;
    font-size: 2.5em;
    color:#000;
    font-weight: bold;
    margin:0;
    padding:0;
}
#single-page-news > div p.post-date{
    width:100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin:0;
    padding:0;
}
#single-page-news > div:first-child > div.news-content p{
    text-align: justify;
    line-height:150%;
    font-size:1.2em;
    color:#000;
}
#single-page-news > div:first-child > div.news-content img{
    box-shadow: 0 0 7px 2px #D4D0C8;
    margin:10px;
}
#single-page-news > div:last-child{
    margin-top:100px;
}
#single-page-news div.hr{
    position: absolute;
    width: 100%;
    margin-top:50px;
    height: 15px;
    background: url(../images/style01.png)  scroll center;
    background-repeat: repeat-x
}
#single-page-news div.hr hr {
    display: none;
}

#respond{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#respond h3{
    border-top:2px solid;
    width:50%;
    padding-top: 10px;
}
#respond textarea{
    border-radius: 5px;
    box-shadow: 0 0 9px #808080;
}
#respond form p:first-child{
    float:right;
    text-align: right;
}

#respond form p:first-child a:last-child{
    display: block;
}
#respond form input[type="submit"]{
    border-radius: 5px;
    background-color: #222222;
    line-height:2em;
    color:#fff;
}
#respond form input[type="submit"]:hover{
    background-color: #DDDDDD;
    color:#222222;
}
ol.commentlist li{
    box-shadow: 0 0 12px #808080;
    padding:10px;
    margin-bottom:20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.comment-meta a{
    font-size: 0.8em;
}
.comment-reply-link{
    color:#FF3333;
}
ol.commentlist li > div > p{
    color: #000000;
    font-weight: bold;
}


/******************************
Contact Page
***************************/
#location_map_us,#location-map-japan,#location-map-srilanka {
    width:100%;
    height: 250px;
}

.gmnoscreen,.gmnoprint,.gm-style-cc,.gmnoprint {
    display: none !important;
}
#contact-page{
    position: relative;
    width: 100%;
    margin:0;
    padding:0;
    font-family: myhota,Tahoma, Geneva, sans-serif;
    color:#000;
}
#contact-page h1{
    width: 100%;
    text-align: center;
    color:#176edd;
    font-family: MyhotaBold, MyhotaBold2, Myhota;
    margin-top:50px;
    margin-bottom:50px;
}
#contact-page #locations{
    width:60%;
    margin:0 auto;
}
#contact-page #locations ul{
background: rgb(244,244,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(241,242,243,1) 70%, rgba(241,242,243,1) 70%, rgba(204,213,221,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(70%,rgba(241,242,243,1)), color-stop(70%,rgba(241,242,243,1)), color-stop(100%,rgba(204,213,221,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(241,242,243,1) 70%,rgba(241,242,243,1) 70%,rgba(204,213,221,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(241,242,243,1) 70%,rgba(241,242,243,1) 70%,rgba(204,213,221,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(241,242,243,1) 70%,rgba(241,242,243,1) 70%,rgba(204,213,221,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(241,242,243,1) 70%,rgba(241,242,243,1) 70%,rgba(204,213,221,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ccd5dd',GradientType=0 ); /* IE6-9 */


border:2px solid #fefefe;
border-bottom:none;
box-shadow: 0 -2px 5px 0.5px #808080;


  position: relative;
  float: left;
  list-style: none;
  width:100%;
  box-sizing: border-box;
        padding:0;
}


#contact-page #locations ul li{

  display: inline-block;
  width:30%;
  font-family: MyhotaBold, MyhotaBold2, Myhota;
  text-align: center;
  color:#01498c;
  font-size:20px;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
  margin:0;
    padding-top:10px;
  padding-bottom:10px;
    float: left;
/*  padding-left:4%;*/
}
#contact-page #locations ul li:nth-child(2){
margin:0 4% 0 4%;
}

#contact-page #locations ul li.active{
  border-bottom: 5px solid #176edd;
  opacity: 1;
}
#contact-page #locations ul li:not(.active){
  opacity: 0.3;
}
#contact-page #locations ul li img{
  margin:0;
  padding:0;
  display: inline-block;
/*float: left;*/
}

#contact-page .location-detials{
width:100%;
position: relative;
float: left;
  box-sizing: border-box;
  padding-top:30px;
  height:auto;
  background-color: #eeeeee;
  box-shadow: 0 0 6px 1px #DDDDDD;
  margin-bottom:50px;
}
#contact-page .location-detials:not(#location-srilanka){
display:none;
}

#contact-page .location-detials > div:first-child > div{
  display: inline-block;
  width:40%;
  float: left;
    font-family: MyhotaBold2, MyhotaBold, Myhota;
    letter-spacing: 1px;
  margin:0 4.5% 0 4.5%;
  box-sizing: border-box;
  padding:10px;
}

#contact-page .location-detials > div > div > *{
  padding:0;
  margin:0;
}
#contact-page .location-detials > div > div h2{
  font-size:1.2em;
  font-weight: bold;
  color:#000;
  margin-bottom: 5px;
}
#contact-page .location-detials > div > div p{
  font-size:1em;
  font-weight: lighter;
  color:#000;
  margin-bottom: 8px;
}
.locate-google{
  display: block;
  width: 100%;
  box-sizing: border-box;
  height:250px;
}
#contact-page #contact-message{
    width:35%;
    margin:0 auto;
    margin-top:5%;
    margin-bottom:10%;
    box-sizing: border-box;
    color:#000;
    font-family: MyhotaBold2, MyhotaBold, Myhota;
    font-size: 1.1em;
}
#contact-page #contact-message label{
    display: inline-block;
    box-sizing: border-box;
    width:25%;
    height:30px;
}
#contact-page #contact-message input{
    display: inline-block;
    box-sizing: border-box;
    height:35px;
    border:1px solid #b5b5b5;
    width:100%;
    font-size: 1.1em;
    padding:0 5px 0 5px;
    box-shadow: inset 0 0 10px 2px #D5D5D5;
    background: transparent;
}
#contact-page #contact-message textarea{
    width:100%;
    border:1px solid #b5b5b5;
    font-size: 1.1em;
    font-family: franklin_gothic_mediumregular;
        background: transparent;
        resize: none;
            padding:5px;
    box-shadow: inset 0 0 10px 2px #D5D5D5;
}
#contact-page #contact-message form > button{
    width:25%;
    margin-top:20px;
    margin-left:37%;
    margin-right:37%;
  /*  border-radius: 5px;*/
    outline:none;
    border: none;
    line-height:20px;
    box-sizing: border-box;
/*    background-color: #176edd;*/
 background-color: #4b5252;
    color:#fff;
    font-weight: bold;
    text-align: center;
    height:40px;
    padding:0;
}
#contact-page #contact-message button:hover{
    opacity: 0.5;
}
#contact-page #contact-message button:active{
    opacity: 1;
}
#contact-pattern{
    margin-top:5%;
    width:100%;
    height:15px;
    background-image: url(../images/style01.png);
    background-repeat: repeat-x;
    background-size: contain;
}

/******************************
About Page
***************************/

#about-page{
  position: relative;
  float: left;
  width:100%;
}
#about-page h1{
    width: 100%;
    text-align: center;
    font-family: MyhotaBold2, MyhotaBold, Myhota;
    font-size: 2em;
    color:#01498c;
}
#about-page > div:first-child{
    width: 80%;
    margin: 0 auto;
}
#about-page > div:first-child > p{
    font-family: MyhotaBold2, MyhotaBold, Myhota;
    text-align: justify;
    font-size: 1em;
    letter-spacing: 1px;
    text-indent: 50px;
}

#about-page > div:first-child > img{
    display: inline-block;
    float:right;
    padding:0;
    margin:0 0 15px 15px;
    width:122px;
}

#about-page #infographic{
    width:800px;
    height: 800px;
    margin:0 auto;
    margin-top:10%;
    background-image: url(../images/infographic/infographic-full.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#about-page #infographic > div{
  width: 100%;
  height:160px;
  margin:0;
  padding:0;
}
#about-page #infographic > div > div{
  width:80px;
  margin:0 auto;
}
#about-page #infographic > div > div > div{
display: inline-block;
}

#about-page #infographic img.pop-up{
position:absolute;
/*top: 90px; left:150px;*/
margin-top:10px;
margin-left:-10%;
 width:350px;
 height:350px;
 border: 5px solid gray;
 border-radius: 5px;
display: none;
}

#about-page #infographic img.ellipse{
  width: 20px;
  display: block;
  margin:0;
  padding:0;
}
#about-page #infographic .ellipe-container{
  border-radius: 50%;
}

#about-page #infographic .ellipe-container:hover img.pop-up{
  display: block;
}
#about-page #infographic #section-02 > div:nth-child(2){
margin-top:55px;
}

#about-page #infographic #section-03 div{
  padding-top:40px;}
